//Primary

$Blue: hsl(223, 87%, 63%);

//Secondary

$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);

//Neutral
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);

.logo {
    margin: auto;
}

.contenedor {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //text-align: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    text-align: center;


    &__mensaje {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    &__titulo {
        font-weight: lighter;
        color: $Gray;
        font-size: 2em;
        margin-bottom: 0;

        &>strong {
            color: $Very-Dark-Blue;
        }
    }

}

.frm {
    margin-bottom: 30px;

    &__input {
        border: 1px solid $Pale-Blue;
        border-radius: 15px;
        //border-color: $Gray;
        height: 30px;
        width: 300px;
        outline: none;
        padding: 0 20px;

    }

    &__input::placeholder {
        color: $Pale-Blue;
    }

    &__btn {
        width: 150px;
        height: 35px;
        border-radius: 15px;
        border-color: transparent;
        background-color: $Blue;
        color: white;

    }
}

.estadistica {
    height: 400px;
    width: 40%;
}

.msg-copyright{
    font-size: 10px;
}
